<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>4 
    <h2 align="center">Dashboard</h2>
    <a href="/create">Create Messsage</a>

    {{data}}
    <table border="1" align="center">
        <tr>
            <td>sr.no</td>
            <td>name</td>
            <td>email</td>
            <td>mobile</td>
            <td>msg</td>
            <td>edit</td>
            <td>delete</td>

        </tr>
{% for x in data %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{x.name}}</td>
    <td>{{x.email}}</td>
    <td>{{x.mobile}}</td>
    <td>{{x.msg}}</td>
    <td><a href="/edit/{{x.id}}">Edit</a></td>
   <td><a href="/delete/{{x.id}}">Delete</a></td>
</tr>
{% endfor %}
</table>